.dashboard{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    background-color: #F5F5F5;
}


.black-partition{
    height:94vh;
    width:20%;
    background-color: black;
    margin:3vh;
    border-radius: 20px;
}


.black-content{
    filter:invert(1);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.black-menu-item{
    margin:3rem;
    display: flex;
    align-items: center;
}
.black-menu-item:hover{
    font-weight: 700;
    cursor: pointer;
}

.black-icon{
    margin:0 1rem 0 0 ;
}

.white-partition{
    width:80%;
    height:94vh;
    margin:3vh 3vh;
    display: flex;
    flex-direction: column;
}

.navigation{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.profile-pic{
    clip-path: circle();
    height:1.3rem;
}
.navigation .to-right{
    margin-left:auto;
}
.to-right{
    width:3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tabs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tab{
    width: 21%;
    background:grey;
    height:4.5rem;
    padding:0.8rem;
    border-radius: 15px;
}

.tab-icon-wrap{
    width:100%;
}
.tab-icon{
    margin-left:90%;
}

.revenue{
    background: #DDEFE0;
}

.transactions{
    background:#F4ECDD;
}
.likes{
    background:#EFDADA;
}

.users{
    background:#DEE0EF;
}

.tab-content h3{
    margin-top:0;
    margin-bottom:0;
}

.tab-content h5{
    margin-top:0;
    margin-bottom:0;
}


.activities-main{
    background-color: white;
    border-radius: 10px;
    margin:3vh 0;
}
.activities-nav{
    margin-left:2rem;
    display: flex;
    align-items: center;
}

.activities-nav .legend{
    display: flex;
    flex-direction: row;
    margin:0 0  0  auto;  
    width:10rem; 
}

.activities-nav .legend .legend-item{
    width:4rem;
    margin:0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.activities-nav .legend .legend-item .circle{
    height: 0.5rem;
    width: 0.5rem;
    margin-right:5px;
    border-radius: 50%;
    background-color: black;
}


.stats{
    display:flex;
    flex-direction:row;
    width:100%;
    height:28vh;
    justify-content: space-between;
}

.top-products{
    width:49%;
    height:100%;
    border-radius: 15px;
    background-color: white;
}
.chart{
    display: flex;
    flex-direction: row;
    padding:15px;
}
.pie-chart{
    height:6rem;
    width:40%;
    margin-left:35px;
}   
.legend{
    width:50%;
    display:flex;
    height: auto;
    flex-direction:column;
    justify-content: space-around;
}
.leg-item{
    padding:0 3rem;
}

.schedule{
    width:49%;
    height:100%;
    border-radius: 15px;
    background-color: white;
}

.title{
    margin:1rem 2rem 0 2rem;
}

.sche-time{
    color: #999999;
    margin:0 2rem 0 8px;
}

.sche-title{
    margin:0 2rem 0 8px;
}
.sche-loc{
    color: #999999;
    margin:0 2rem 0 8px;
}

.sche-sec{
    margin:2px;
    margin-top:1rem;
    margin-bottom:1rem;
    margin-left:0;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

.sche-sec-content{
    margin:0;
}

.ver-line{
    width: 0px;
    height:2rem;
    border:2px solid rgb(1, 200, 1);
    margin-left:2rem;
    margin-right:0;
}

.green{
    border:2px solid rgb(208, 0, 208);

}